@import url("global.css");

/** Login **/

.body_login {
    width: 100%;
    min-height:50vh;
    height: auto;
    background-image: url(../IMG/fondo_u.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
}

.login_box {
    width: 100%;
    height: auto;
    padding-top: 200px;   
    padding-bottom: 60px;
    margin: auto;    
    min-height:10vh;    
    position:relative;    
}


/*Formularios*/

.contenedor__login-register {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.contenedor__login-register form {
    width: 380px;
    padding: 20px;
    background: rgb(219, 219, 219);    
    position: relative;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor__login-register form img {
    width: 300px;
    padding: 20px;
}

.contenedor__login-register form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #980511;
}

.credenciales {
    width: 100%;
}

.contenedor__login-register form input {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 5px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.password {
    display: flex;
    justify-content: space-between;
}

.contenedor__login-register form .btn {
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    background: #980511;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    width: 140px;
}

.contenedor__login-register form .btn:hover {
    background: #5b0e14;
}

.formulario__login {
    opacity: 1;
    display: block;
}

.formulario__register {
    display: none;
}

@media screen and (max-width: 850px) {
    .login_box {
        margin-top: 50px;
    }
    .caja__trasera {
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }
    .caja__trasera div {
        margin: 0px;
        position: absolute;
    }
    /*Formularios*/
    .contenedor__login-register {
        top: -10px;
        left: -5px;
        margin: auto;
    }
    .contenedor__login-register form {
        position: relative;
    }
}